@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
@*<h4>@ViewBag.Author</h4>*@
<h3>@Model.Message</h3>
<h4 style="color:orange" >@Model.Author</h4>

    
<body>
<p>Use this area to provide additional information.</p>
    <table>
        <tr><td>11</td><td>12</td><td>13</td></tr>
        <tr><td>21</td><td>22</td><td>23</td></tr>
        <tr><td>31</td><td>32</td><td>33</td></tr>

    </table>
    <br>
    <div style="text-align:justify">
        Cu ajutorul Controlatorului, modelului sau a viziunii putem manipula următoarele elemente: date. 
        Depinde de noi cum manipulăm și interpretăm aceste "date". Acum cunoaștem că unicele date ale unei
         adrese web statice sunt: obținerea unui fișier în discul dur (hard disk) sau din Internet, etc. și, 
        interpretat (recunoscut/decodificat) sau nu, serverul răspunde. Modelul, precum controlatorul și viziunea
         manipulează toate datele ce se relaționeză cu el. Și numai Viziunea poate demonstra această informație
    </div>
</body>